node_modules

/.cache
/build
/public/build
.env

/prisma/data.db


# Easy way to create temporary files/folders that won't accidentally be added to git
*.local.*
# This is to make things easier for our workshop setup:
!users.0.local.json
test-results/
# Output of vitest coverage command
coverage/